/node_modules
/public/js/app.*
/public/css/app.*
/public/storage
/public/images
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
mix-manifest.json!/public/css/app.css
/public/mix-manifest.json